    .background-image{
        background-image: url(Image/wall.jpg);
        opacity: 110%;
        border-radius: 30px;
    }
    .port-head{

    float: left;

    }
    .canvas{

        float: left;
        
        width: 40%;
        /* margin: 5%; */
        /* padding: 2%; */
    }
    .canvas img{
        margin-top: -11%;
        width: 157%;
    }
    .text{
        margin-left: 2%;
        padding: 5%;
    }
    .paragraph-myself
    {
    font-size: 40px;
    padding: 5%;

    }
    .wel-hover{
        font-size: 25px;
        color: blueviolet;
    }
    .wel-hover:hover{
        font-size: 40px;
        color: azure;
        
    }
    .read{
        font-size: 25px;
        color: white;
        text-shadow: 2px;
        /* margin-right: 7%; */
        margin-left: 30%;
        border: 2px solid wheat;
        background-color: black;
        padding: 2%;
        border-radius: 5px;
    }
    .read a{
        color: white;
        text-decoration: solid;
    }
    .button-nav{

        margin-left: 773px;
        margin-right: 79px;
        margin-top: 30px;
        padding: 1%;
        font-size: 20px;
        background: rgb(76,65,209);
        background: linear-gradient(23deg, rgba(76,65,209,1) 0%, rgba(1,4,36,0.8547794117647058) 35%, rgba(86,92,173,0.9612219887955182) 68%, rgba(244,0,111,0.9724264705882353) 92%);
        border: 2px;
        border-radius: 20px;
        font-weight: 700;
    }
    .button-nav a{
        text-decoration: none;
        font-size: 30px;
        padding: 8px;
color: wheat;

    }
    #journey-of-software-engineer{

        margin-left: 59%;
        margin-top: -563px;
    }

.image-value img{
width: 71%;
/* margin-right: 60%; */
margin: 20px;
}
    